body{
    background-color: black;
    color: green;
}
h1{
    text-align: center;
    color: green;
}
.div1{
    height: 400px;
    width: 400px;
    background-color: tomato;
    color: white;
    margin: 100px auto;
    position: relative;
    transform:scale(1)
}
.div1 h3{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40%;
}